---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: true
PointerAlignment: Left
AlignTrailingComments: true
SortIncludes: true
